{% extends "::layout.html.twig" %}

    {% block body %}
	
     <p>
     <a class="btn btn-default" href="{{ path('lifo_classif_admin_suppression') }}">Suppression</a>
     <a class="btn btn-default" href="{{ path('lifo_classif_admin_ajout') }}">Ajout</a>
     <a class="btn btn-default" href="{{ path('lifo_classif_admin_utilisateur') }}">Utilisateur</a>
    	{% block LIFOClassif_body %}
    	{% endblock %}
    	
    {% endblock %}
