{% extends "LIFOClassifBundle::layoutAdmin.html.twig" %}

{% block LIFOClassif_body %}

<br/>
<br/>
{% if utilisateurs is not empty %}
	<table class="table table-bordered table-striped table-hover">
	<thead><tr class="warning"><td width=10%>Nom d'utilisateur</td><td width=10%>Rôle</td></tr></thead>
	<tbody>
    {% for utilisateur in utilisateurs %}
		<tr>
			<td><a href="{{ path('lifo_classif_admin_afficher_utilisateur', {'id': utilisateur.id}) }}">{{utilisateur.username}}</a></td>
			<td>{{ utilisateur.rolesToString }}</td>
		</tr>
    {% endfor %}
	</tbody>
	</table>
{% else %}
    <p>Il n'y a aucun utilisateur enregistré.</p>
{% endif %}

{% include 'LIFOClassifBundle::pagination.html.twig' %}

{% endblock %}