{% extends "LIFOClassifBundle::layoutAdmin.html.twig" %}

{% block LIFOClassif_body %}

<div class="well">
	<font color = "red">{{messageImportant}}</font>
	<p>
		<fieldset>
			<legend>{{user.username}}</legend>
			Role actuel : 
			{{ user.rolesToString }}
			{{ form(formModifierRole) }}
		</fieldset>
	</p>
</div>
<a class="btn btn-primary" href="#null" onclick="javascript:history.back();">Page précédente</a>

{% endblock %}