{% extends "LIFOClassifBundle::layoutAdmin.html.twig" %}

{% block LIFOClassif_body %}

<div class="well">
	<p>
		<font color = "red">{{messageImportant}}</font>
		<fieldset>
			<legend>Ajouter un utilisateur</legend>
			{{ form(formAddUser) }}
		</fieldset>
		<fieldset>
			<legend>Trouver un utilisateur</legend>
			{{ form(formSearchUser) }}
		</fieldset>
	</p>
	<a href="{{ path('lifo_classif_admin_all_users') }}">Tous les utilisateurs</a>
</div>

{% endblock %}