{% extends "LIFOClassifBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Upload{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
<p>
<fieldset>
<legend>Suppression</legend>
{{ form(formSuppression) }}
</fieldset>
</p>
<p>
<fieldset>
<legend>Ajout d'un décor</legend>
{{ form(formAjoutDecor) }}
</fieldset>
<fieldset>
<legend>Ajout d'un type de décor</legend>
{{ form(formAjoutTypeDecor) }}
</fieldset>
</p>
</div>

{% endblock %}