{% extends "LIFOClassifBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Classification{% endblock %}

{% block body %}
	{{ parent() }}
	<p>
		Pour classifier un tesson
	</p>
{% endblock %}