{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
	<p>
		Bienvenue sur l'outil d'aide à la classification de tesson
	</p>
{% endblock %}