{% extends "LIFOClassifBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}
	{{ parent() }}
	<p>
		Pour rechercher un tesson suivant certains critères
	</p>
{% endblock %}