{% extends "LIFOClassifBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Téléchargement{% endblock %}

{% block body %}
	{{ parent() }}
	<p>
		Pour télécharger une image
	</p>
{% endblock %}