{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Tesson{% endblock %}

{% block LIFOClassif_body %}
	{% for numerisation in listeNumerisation %}
	<p>
	{{ numerisation.typeNumerisation.nom }}
	<img src="{{ asset(numerisation.webPath) }}" alt="{{ numerisation.alt }}"/>
	</p>
	{% endfor %}
{% endblock %}