{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}
{% block LIFOClassif_body %}

<div class="well">
	<p>
	<fieldset>
		<legend>Suppression</legend>
		{{ form(formSuppression) }}
	</fieldset>
	</p>
</div>

{% endblock %}
