{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}
{% block LIFOClassif_body %}

<div class="well">
	<fieldset>
		<legend>Ajout</legend>
		{{ form(formAjoutTypeDecor) }}
	</fieldset>
	<fieldset>
		<legend>Suppression</legend>
		{{ form(formSuppressionTypeDecor) }}
	</fieldset>
</div>

{% endblock %}
